@import url("http://fonts.googleapis.com/css?family=Raleway:400,400italic,700,800");

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-te4v9');
	src:url('../fonts/icomoon.eot?#iefix-te4v9') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-te4v9') format('woff'),
		url('../fonts/icomoon.ttf?-te4v9') format('truetype'),
		url('../fonts/icomoon.svg?-te4v9#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-size: 2em;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: #6f7577;
}

body {
	background-image: url('../images/bg.jpg');
	background-size: 100%;
	background-position: 0% 23%;
	background-attachment: fixed;
	color: #6f7577;
	font-family: "Raleway", "Helvetica", sans-serif;
	font-size: 15pt;
	font-weight: 400;
	line-height: 1.75em;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 100%;
}

header {
	color: white;
	margin-top: 20px;
	position: fixed;
	width: 100%;
}

.conoceme {
	overflow: hidden;
	text-align: center;
	padding-bottom: 50px;
}

.conoceme p {
	margin-top: 55px;
	color: white;
	cursor: pointer;
	background-color: #5BAB80;
	border-radius: 7px;
	width: 7em;
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding: 20px 30px 20px 30px;
}

.contenido {
	background-color: white;
	height: 92%;
	margin-top: 2%;
	margin-left: 15%;
	margin-right: 15%;
	overflow: hidden;
	position: absolute;
	display: none;
}

.foto-perfil{
	margin-bottom: 50px;
}

.img-foto-perfil {
	border: 3px solid white;
	border-radius: 70px;
}

.item {
	margin-top: 50px;
}

.item-contenido {
	margin-top: 3em;
	margin-left: 15%;
	margin-right: 15%;
}

.nombre {
	margin-left: 35%;
	margin-right: 35%;
	padding-bottom: 1em;
}

.links {
	padding-top: 4em;
}

.links a {
	margin-left: 20px;
	margin-right: 20px;
	color: #5BAB80;
	transition: 0.5s;
}

.links a:hover {
	color: #6f7577;
	transition: 0.5s;
	transform: rotate(360deg);
}

.movil{
	font-size: 1em;
	float: left;
	width: 35%;
	margin-right: 15%;
}

.mail {
	font-size: 1em;
	float: left;
	width: 35%;
	margin-left: 15%;
}

.icon-google:before {
	content: "\ea8a";
}

.icon-twitter:before {
	content: "\ea93";
}

.icon-github:before {
	content: "\eab1";
}

.icon-movil:before {
	color: #5BAB80;
	content: "\e942";
}

.icon-mail:before {
	color: #5BAB80;
	content: "\e907";
}

.icon-volver:before {
	color: #5BAB80;
	content: "\e965";
	cursor: pointer;
	font-size: 1em;
}

@media screen and (max-width: 800px) {
	body {
		background-image: url("../images/bg-mb.jpg");
		background-size: 100%;
		background-position: center top;
		font-size: 11pt;
	}

	.contenido {
		font-size: 16px;
		margin-left: 0;
		margin-right: 0;
		margin-top: 0;
		height: 100%;
		padding-top: auto;
		padding-bottom: auto;
	}

	.item {
		margin-top: 0;
	}

	.item-contenido {
		margin-top: 0;
		margin-right: 5%;
		margin-left: 5%;
	}

	.nombre {
		margin-left: 0;
		margin-right: 0;
		padding-bottom: 1em;
	}
	
	.movil {
		width: 100%;
		margin-right: 0;
	}

	.mail {
		width: 100%;
		margin-left: 0;
	}
}